body {
  min-height: 75rem; /* Can be removed; just added for demo purposes */
  background-color: #f7f7f7
}

.navbar {
  margin-bottom: 0;
}

.navbar-collapse .container-fluid {
  padding: 2rem 2.5rem;
  border-bottom: 1px solid #55595c;
}

.navbar-collapse h4 {
  color: #818a91;
}

.navbar-collapse .text-muted {
  color: #818a91;
}

.about {
  float: left;
  max-width: 30rem;
  margin-right: 3rem;
}

.social a {
  font-weight: 500;
  color: #eceeef;
}
.social a:hover {
  color: #fff;
}

.jumbotron {
  padding-top: 6rem;
  padding-bottom: 6rem;
  margin-bottom: 0;
  background-color: #fff;
}

.jumbotron p:last-child {
  margin-bottom: 0;
}

.jumbotron-heading {
  font-weight: 300;
}

.jumbotron .container {
  max-width: 40rem;
}

.album {
  min-height: 50rem; /* Can be removed; just added for demo purposes */
  padding-top: 3rem;
  background-color: #f7f7f7;
}

.card {
  float: left;
  width: 33.333%;
  padding: .3rem;
  border: 0;
}

.card > img {
 border-radius: 8px;
  padding: .20rem;
}

.card-text {
  font-size: 85%;
}

footer {
  padding-top: 3rem;
  padding-bottom: 3rem;
}

footer p {
  margin-bottom: .25rem;
}

.inverse {
  background-color: #222;
}
.navbar-inverse{
  background-color: #EEEEEE;
}
@media (max-width: 575px) {
  .card {
    float: left;
    width: 100%;
    padding: .75rem;
    margin-bottom: 1rem;
    border: 0;
  }
}

@media (min-width: 576px) {
  .card {
    float: left;
    width: 100%;
    padding: .75rem;
    margin-bottom: 1rem;
    border: 0;
  }
}

@media (min-width: 576px) {
  .card {
    float: left;
    width: 100%;
    padding: .75rem;
    margin-bottom: 1rem;
    border: 0;
  }
}

@media (min-width: 760px) {
  .card {
    float: left;
    width: 50%;
    padding: .75rem;
    margin-bottom: 1rem;
    border: 0;
  }
}


@media (min-width: 1000px) {
  .card {
    float: left;
    width: 33.333%;;
    padding: .75rem;
    margin-bottom: 1rem;
    border: 0;
  }
}

