@import "../libs/bootstrap/scss/bootstrap-reboot";
@import "../libs/bootstrap/scss/grid";
@import "../libs/bootstrap/scss/utilities";
@import "../libs/bootstrap/scss/buttons";
@import "../libs/bootstrap/scss/alert";
@import "../libs/bootstrap/scss/badge";
@import "../libs/bootstrap/scss/tooltip";
@import "../libs/bootstrap/scss/popover";
@import "../libs/bootstrap/scss/transitions";
@import "../libs/bootstrap/scss/_nav";
@import "../libs/bootstrap/scss/_navbar";
@import "../libs/bootstrap/scss/forms";
@import "../libs/bootstrap/scss/bootstrap";
@import "../libs/bootstrap/scss/images";



$color: rgb(214, 213, 123);

card-text
  font-size: 85%;


footer
  padding-top: 3rem;
  padding-bottom: 3rem;


footer p
  margin-bottom: .25rem;
#navbar-inverse
  background-color: #EEEEEE;

#card-text
  font-size: 85%;
#jumbotron
  padding-top: 6rem;
  padding-bottom: 6rem;
  margin-bottom: 0;
  background-color: #fff;


#jumbotron-heading
  font-weight: 300;


#jumbotron .container
  max-width: 40rem;

body
  min-height: 75rem;
  background-color: #f7f7f7

#about
  float: left;
  max-width: 30rem;
  margin-right: 3rem;


#social a
  font-weight: 500;
  color: #eceeef;
